{%extends "admin.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%block content%}
<div class="clubsdb">
    {% for row in clubs %}
            <div class="clubdb">
                <p class="fs-3 fw-bold">{{ row[2] }}</p>
                    <p class="fs-6">Advisor : {{ row[1] }} </p>
                    <p class="fs-6">Location : {{ row[4] }}</p>
                    <p class="fs-6">Club Dates : {{ row[5] }}</p>
                    <p class="fs-5">{{ row[3] }}</p><br>
                    <div class="link-container">
                    <a href="#" class="btn btn-primary link" style="background-color:gold">View Info</a>
                    </div>
            </div>
    {% endfor %}
</div>
{%endblock%}