{%extends "admin_base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'admin_events'%}
{%block content%}
{% for row in events %}
<div class="clubdb py-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fw-bold" role="alert" style="margin-top:50px">
        <div>{{message}}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %} 

    {% for row in events%}
    <p class="fs-6">{{ row[0] }} </p>
    <p class="fs-3 fw-bold">{{ row[1] }}</p>
        <p class="fs-6">{{ row[2] }} </p>
        <p class="fs-6">{{ row[3] }}</p>
        <p class="fs-6">{{ row[4] }}</p>
        <p class="fs-5">{{ row[5] }}</p><br>
        <form action="{{ url_for('manage_events')}}" method="POST">
            <input type="submit" class="adminbtn" name="approved" value="{{row[0]}}">
        </form>
        
    {% endfor %}
</div>
{% endfor %}
{%endblock%}