{%extends "admin_base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'admin_clubs'%}
{%block content%}
<div class="background-img">
    <header class="pt-5" style="background-color:rgba(255,255,255,0.8); text-align:center">
        <div class="title">
            <h1 class="display-5 fw-bold box">Club List</h1>
            <div class="box" style="padding:60px;margin-top:40px;margin-bottom:40px">
                <table>
                    <tr>
                        <th style="width: 50%;">Club</th>
                        <th style="width: 50%;">Edit</th>
                    </tr>
                    {% for row in clubs %}
                    <tr>
                        <td style="width: 50%;">{{ row[2] }}</td>
                        <td style="width: 50%;">                        
                            <form action="{{url_for('manage_members', club_name=row[2])}}">
                                <input type="submit" class="adminbtn" value="Manage Users Of {{ row[2] }}">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div> 
        </div>
    </header>
</div>
{%endblock%}