{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'home'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<div class="background-img">
    <header style="background-color:rgba(255,255,255,0.8); padding-top:40px">
        <div class="title">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fw-bold" role="alert" style="margin-top:30px">
                <div>{{message}}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}    
            
            <div class="title_card" style="">
                <div class="t1">
                        <h1 class="display-4 fw-bold" style="margin-bottom:50px">BT Clubs</h1>
                        <p class="fs-4" style="">Welcome to the Official Club Management Website for Bergen Tech! </p> <br>
                        {%if current_user.is_authenticated%}
                        {% if isAdmin %}
                        <div style="display:flex;justify-content:space-between">
                        {%endif%}
                            <div style="display:flex; justify-content: center; justify-content: space-around;padding:0px 50px">
                                <form action="/dashboard">
                                    <input type="submit" class="homebtn" value="My Dashboard" style="background-color:black;">
                                </form>
                            </div>
                            <!-- ADMIN ONLY-->
                            {% if isAdmin %}
                            <div style="display:flex; justify-content: center; justify-content: space-around;padding:0px 50px">
                                <form action="/admin">
                                    <input type="submit" class="homebtn" value="Admin Panel" style="background-color:black;">
                                </form>
                            </div>
                            {% endif %}
                            <!-- -------------- -->
                        {% if isAdmin %}
                        </div>
                        {%endif%}
                        {% else %}
                            <form action="/login">
                                <input type="submit" class="homebtn" value="Login / Register" style="background-color:black;">
                            </form>
                        {% endif %}
                </div>
                <div style="display: flex;justify-content: center; align-items: center">
                    <img src="static\images\TeterboroLogo.png" alt="" class="i1">
                </div>
                
            </div>

            <div class="box" style="display:flex;justify-content:center;align-items:center">
                <a href="/events" class="homelinks box2">Events</a> 
                    <div class="vl"></div>
                <a href="/clubs" class="homelinks box2">Clubs</a>
                    <div class="vl"></div>
                <a href="/profile" class="homelinks box2">Profile</a>
            </div>
    </header>
</div>
<footer class="bg-dark fixed-bottom" style="padding-top: 1.5rem;padding-bottom: 1.5rem;position:relative;z-index:1000; border-top:3px solid #FFD700">
    <div class="container"><p class="m-0 text-center text-white">Bergen Tech - 2024</p></div>
</footer>
{%endblock%}