{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'profile'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<div class="background-img">
    <header class="pt-5" style="background-color:rgba(255,255,255,0.8); min-height: 100vh; padding:100px;">
        <div class="profile">
            <h1 class="display-5 fw-bold">Profile</h1>
            <div class="profile_container">
                <div class="profile_a">
                    <img src="{{user['picture']}}" referrerPolicy="no-referrer" class="pfp" alt="">
                    <p class="fs-4" style="margin-top:40px">{{user['name']}}</p>
                    <p class="fs-4" style="margin-top:40px">{{user['email']}}</p>
                </div>
                <div class="profile_b">
                    <div class="fw-bold" style="margin-bottom:30px">Update Information</div>
                    <form method='POST' action="/profile">
                        <div><input type="text" class="updprofile" id="grad_year" name="grad_year" value="{{user['grad_year']}}" placeholder="Enter Your Graduation Year" maxlength="4"></div>
                        <div><select class="updprofile "id="dropdown" name="major" value="{{user['major']}}" placeholder="Select Your Major" style="border-width:1px solid black;">
                            <option value="Computer Science" >Computer Science</option>
                            <option value="Aerospace Engineering">Aerospace Engineering</option>
                            <option value="Automotive Engineering">Automotive Engineering</option>
                            <option value="Business">Business</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Culinary">Culinary</option>
                            <option value="Law and Justice">Law and Justice</option>
                            <option value="Commercial Art">Commercial Art</option>
                            <option value="Digital Media">Digital Media</option>
                        </select>   
                        </div>       
                        <input type="submit" value="Update Information" class="updbtn">
                    </form>
                </div>
            </div>
        </div>
</div>
    
</header>
{%endblock%}