{%extends "base.html"%}
{%block title%}BT CLUB APP{%endblock%}
{%set active_page = 'dashboard'%}
{%block content%}
<!-- Page Content-->
<!-- Header-->
<div class="background-img" >
    <header class="pt-5" style="background-color:rgba(255,255,255,0.8); min-height: 100vh">
        <div class="sidebar">
                <a href="/dashboard">Dashboard</a>
                {% for club_name in user_clubs%}
                    <a href="{{ url_for('stream', club_name=club_name) }}">
                    <span>{{club_name}}</span>
                    </a>
                {% endfor %}
        </div>
        <div class="stream">
            <h1 class="display-7 fw-bold clubtitle">
            {{club_name}}
            </h1>
            <div class="messages">
                <div class="stream_event">
                    <p class="fw-bold">Events</p>
                    <p>No Events Currently...</p>
                </div>
                <div class="message_box">
                    {% if ownership %}
                        <form action="{{ url_for('stream', club_name=club_name) }}" method="post">
                            <div class="messages">
                                <input type="text" class="post_message" name="message" placeholder="Post an Announcement">
                                <input type="submit" class="post_btn" value="Post">
                            </div>
                        </form>
                    {%endif%}
                    {% for message in messages %}
                    <div class="message">
                    {{ message[1] }}
                    </div>
                    {% endfor %}
                </div> 
            </div>


        </div>
</div>

{%endblock%}


